body {
    text-align: center;
    margin: 0 15%;
    width: 75%;
    border: 2px solid blue;
}

.lighthouse{
    background-color: lightgray;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 20px;
}

.top10 {
    background-color: lightgray;
    font-style: italic;
    margin: 0;
    padding: 0;
}
